* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    /*background-color: #222;*/
}


.mainContainer {
    max-width: min(1024px, 100vw);
    /*width: 100vw;*/
    margin: 0 auto;
    /*background-color: black;*/

    max-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header {

    /*padding: 48px 16px;
    padding: 16px 16px 48px;*/
    padding-top: 1em;
    display: flex;
    justify-content:last baseline;
    /*align-items: center;*/
    flex-direction: column;

    overflow: hidden;
}
.header h1 {
    margin: 0;
    font-size: 32px;
    font-weight:600;
}
.header h1 a {
    text-decoration: none;
    color: black;
}
.header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-6px);
}
a.link {
    width: fit-content;
    padding-right: 1.2em;
    background: url('../img/icons/launch_gm_grey_18dp.png') bottom right no-repeat;
}

.focus {
    position: sticky;
    bottom: 0;
}

.date {
    flex: 10%;
    background-color: lightskyblue;
    padding: 6px 9px;
    /*border-top: 1px dashed darkslateblue;*/
    border-radius: 2px 2px 0 0;
}

.date h3 {
    font-weight: 400;
    margin: 0;
    display: inline;
}

.display {
    height: min(56.25vw, 0.5625 * 1024px); /*16 : 9 aspect ratio*/
    background-color: #555;
    background-size: contain;
    background-image: url(https://imgur.com/XgJwi8Dh.jpg);
    margin: 0 auto;
}

.imgContainer/*, .imgContainer img*/ {
    max-width: min(1024px, 100vw);
    max-height: 576px;
    width: min(1024px, 100vw);
    height: min(576px, 100vw * (9/16));
    position: relative;
}

.image, .lastImage {
    height: 100%;
    width: 100%;
    
    width: min(1024px, 100vw);
    height: min(576px, 100vw * (9/16));

    overflow: hidden;
}

.lastImage {
    /*width: 341px;
    height: 192px;*/
    mix-blend-mode:lighten;
    mix-blend-mode:normal;
}

.lastImage, .image {
    position: absolute;
    top: 0;
    left: 0;
}


.timeline {
    background-color: #222;
    background-color: #000;
    height:32px;

    display: flex;
    align-items: center;
    
    /*position: relative;*/
}

.timeline .slider {
    height: 29px;
    width: 100%;

    padding: 0;
    
    display: flex;
    align-items: center;
    position: relative;

    /*border: 2px solid black;*/
    
}

.timeline input {
    width: 100%;
    margin: 0;

    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    outline: none;
    height: 6px;
    background-color: #666;
    overflow: hidden;
    box-shadow: inset 0 -1px 0 0px #000, inset 0 1px 0 0px #000;
    cursor: pointer;
    
    -webkit-transition: .05s;
    transition: all .05;
}
.timeline input:hover {
    background-color: rgb(90, 90, 90);
}
.timeline input:hover::-webkit-slider-thumb {
    box-shadow: -512px 0 0 512px rgb(110, 168, 204);
}
.timeline input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 6px;
    width: 2px;
    -webkit-transition: .05s;
    transition: all .05s;
    /*background-color: lightskyblue;*/

    box-shadow: -512px 0 0 512px lightskyblue;
    
}
.timeline input:hover + .timePointer{
    background-color: rgb(110, 168, 204);    
}
.timeline input::-moz-range-thumb {
    cursor: pointer;
}

.timePointer {
    height:24px;
    width: 2px;
    background-color: lightskyblue;

    position: absolute;
    
    user-select: none;
    /*z-index: 2;*/
}

.preloadContainer {
    position: relative;
    z-index: -2;
    overflow: hidden;
    display: none;
}
.preloadContainer img {
    position: absolute;
}


.buttonRow {
    height: 78px;
    width: 100%;
    background-color: #222;
    font-size: 0;

    display: flex;
    border-radius: 0 0 12px 12px;
}

.bottom {
    flex: 15%;
    background-color: #fff;
}

.button {
    height: 78px;
    width: 78px;
    background-color: dodgerblue;
    display: inline-block;
    font-size: 56px;
    color: white;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    user-select: none;
}
.button:hover {
    background-color: rgb(28, 118, 209);
    color: rgb(183, 217, 228);
}
.play {
    background-color: rgb(27, 139, 32);
}
.play:hover {
    background-color: rgb(20, 110, 24);
}
.paused{
    background-color: rgb(179, 78, 11);
}
.paused:hover {
    background-color: rgb(116, 50, 6);
}

.buttonseparator {
    flex: calc(min(1024px, 100vw) - 78px * 5 - 2 * 200px);
}

.frontStep {
    float: right;
}

.lastStep p, .firstStep p {
    letter-spacing: -5px;
    height: 61px;
    margin: 0;
    overflow: hidden;
}

.play, .backStep, .lastStep  {
    border-left: 1px dashed darkslateblue;
}

.playIcon {
    transition: 100ms all ease;
    /*will-change: border-width;*/

    /* play state */
    margin: 17px 27px;
    margin: 17px auto;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
    width: 0px;
    height: 0px;
    border-width: 22px 0 22px 24px;
}
.paused .playIcon {
    /* pause state */
    margin: 17px 21px;
    margin: 17px auto;
    border-color: transparent #fff transparent #fff;
    border-style: solid;
    height: 44px;
    width: 17px;
    border-width: 0px 9px 0px 9px;
}
.play:hover .playIcon {
    border-color: transparent transparent transparent rgb(183, 217, 228);
}
.paused:hover .playIcon   {
    border-color: transparent rgb(183, 217, 228) transparent rgb(183, 217, 228);
}

.settings {
    float: right;
    position: relative;
    cursor: pointer;
}
.settings img {
    width: 24px;
    height: 24px;
    transition:all 0.1s;
}
.settings img:hover {
    filter: brightness(0.6);
    transform: rotate(45deg);
}

.settingsMenu .slider {
    width: 200px;
    height: calc(78px - 12px);
    background-color: rgb(22, 22, 22);
    /*padding-right: 12px;*/
    padding-top: 12px;
    position: relative;
}
.settingsMenu .slider {
    width: 300px;
    text-align: center;
}
.settingsMenu .slider p {
    top: 41px;
}

.settingsMenu .slider input {
    -webkit-appearance: none;
    appearance: none;
    width: 225px; /*min(130px, 65%);*/
    height: 3px;
    top: 57px;
    left: 12px;
    position: absolute;
    cursor: pointer;
}
.slider p {
    font-size: 12px;
    float: right;
    color: white;
    top: 31px;
    right: 12px;
    line-break:loose;
    position: absolute;
}
.slider pre { /*rubirk*/
    font-size: 16px;
    color:rgb(197, 197, 197);
    margin: 0 0 0 12px;
}

.settingsBackground {
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.settingsMenu {
    position: absolute;
    background-color: rgba(240, 248, 255, 0.486);
    border-radius: 2px;
    border: 1px dashed #222;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 500px;
    transform: translate(-50%, -50%);
    padding: 0 24px 24px 24px;
    color: black;
    font-size: 6px;
    text-align: center;
}
.settingsMenu h1 {
    font-size: 24px;
}
.settingsMenu .settings {
    float: unset;
    display: inline;
    cursor: unset;
}
.settingsMenu .settings img {
    transform: translateY(4px);
}

@media only screen and (max-height: calc(28px + 78px + 48px * 2 + 32px + min(56.25vw, 0.5625 * 1024px) + 48px)) {
    .header h2, .header .link {
        animation: 0.2s ease-in 0s 1 normal both running scrollOffTop;
    }
    .header {
        flex-shrink: 2;
    }
    .mainContainer {
        overflow: unset;
    }
}
@media only screen and (max-height: calc(28px + 78px + 48px * 2 + 32px + min(56.25vw, 0.5625 * 1024px))) {
    .header h1 {
        animation: 0.2s ease-in 0s 1 normal both running scrollOffTop;
        padding: 16px 16px;
    }
    .header {
        padding: 0;
    }
}

/* PHONE */
@media only screen and (max-width: 1200px) {
    body {
        background-color: #222;
    }
    .date {
        height: 4em;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .date h3 {
        padding: 2px;
        font-size: 48px;
    }
    .settings img {
        width: 64px;
        height: 64px;
    }
    .header {
        padding: 2em;
        color: white;
    }
    .header h1 {
        font-size: 64px;
    }
    .header h1 a {
        color:aqua;
    }
    .header h2 {
        font-size: 48px;
    }
    .header .link {
        font-size: 48px;

        padding-right: 1.2em;
        background-size: 48px;
        color:aqua;

    }
    .buttonRow {
        height: 128px;
        background-color: #111;
    }
    .button {
        height: 128px;
        width: 128px;
        font-size: 88px;
    }
    .lastStep p, .firstStep p {
        letter-spacing: -5px;
        height: 98px;
    }

    .playIcon {
        margin: 26px auto;
        border-width: 36px 0 36px 40px;
    }
    .paused .playIcon {
        margin: 28px auto;
        height: 68px;
        width: 33px;
        border-width: 0px 13px 0px 13px;
    }

    
    .timeline {
        height: 64px;
    }
    .timeline input {
        height: 32px;
    }
    .timeline input::-webkit-slider-thumb {
        background-color: dodgerblue;
        height: 32px;
        width: 32px;
    }
    .timePointer {
        display: none;
    }


    .settingsMenu .slider {
        width: 800px;
        height: calc(128px);
        padding-top: 24px;
    }
    .settingsMenu .slider {
        width: 800px;
        text-align: center;
    }
    .settingsMenu .slider input {
        -webkit-appearance: none;
        appearance: none;
        width: 675px;
        height: 4px;
        top: 102px;
        cursor: pointer;
    }
    .settingsMenu .slider input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: dodgerblue;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        cursor: pointer;
    }
    .settingsMenu .slider input::-webkit-slider-thumb:hover {
        background-color: rgb(25, 124, 223);
    }
    .settingsMenu .slider p {
        top: 68px;
    }
    
    .settingsMenu .slider p {
        font-size: 24px;
    }
    .settingsMenu .slider pre { /*rubirk*/
        font-size: 26px;
    }
    
    .settingsMenu {
        width: 800px;
        height: 800px;
        padding: 0 36px 36px 36px;
        font-size: 12px;
    }
    .settingsMenu h1 {
        font-size: 48px;
    }
                                    /*   date + timeline + buttonrow + screen       +          header space*/
    @media only screen and (max-height: calc(38px + 32px + 128px + min(56.25vw, 0.5625 * 1024px) + 320px)) {
        .header {
            animation: 0.2s ease-in 0s 1 normal both running scrollOffTop;
        }
        .header {
            flex-shrink: 2;
        }
        .header {
            padding: 0;
            height: 0;
        }
        .mainContainer {
            overflow: unset;
        }
    }
}


@keyframes scrollOffTop {
    0%  {   transform: translateY(-6px);}
    50% { opacity: 0;}
    100% {  transform: translateY(-64px);
        opacity: 0;}
}

.hidden {
    display: none;
}